@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: dark;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  background-color: rgb(23, 23, 23);
  background-image: url('/media/bg.png');
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
}
